@import '../../utils';

.app {
  border: 1px solid #000;
  display: grid;
  grid-template-columns: 15% auto;
  min-height: 100vh;

  .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #000;

    .brand {
      flex: 0;
    }

    .nav {
      flex: 1;
    }

    .social-icons {
      flex: 0;
    }
  }
}
