.home-page {
  align-items: center;
  background-image: url('./doctor-background-2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}